@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-webkit-scrollbar {
  width: 0px;
}
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
*:focus {
  outline: 0;
}

html,
body {
  height: 100%;
  font-family: "Rubik", sans-serif;
}

.chat {
  height: 100%;
  display: flex;
}

.chat .sidebar {
  width: 300px;
  min-width: 300px;
  background: #f5f5f5;
  border-right: 1.5px solid #ddd;
  display: flex;
  flex-direction: column;
}

.chat .sidebar .search {
  height: 50px;
  min-height: 50px;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.chat .sidebar .search input {
  width: 100%;
  height: 30px;
  background: white;
  border-radius: 30px;
  font-size: 14px;
  padding: 0 30px 0 15px;
}
.chat .sidebar .search i {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #999;
}
.chat .sidebar .search i:hover {
  color: #222;
}

.chat .sidebar .contacts {
  overflow: auto;
}

.chat .sidebar .contacts ul li a {
  display: flex;
  height: 60px;
  align-items: center;
  padding: 0 10px;
}

.chat .sidebar .contacts ul li a:hover,
.chat .sidebar .contacts ul li.active a {
  background: #fff;
}

.chat .sidebar .contacts ul li a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat .sidebar .contacts ul li a .contact .name {
  font-size: 15px;
  color: #333;
  font-weight: 500;
  margin-bottom: 2px;
}

.chat .sidebar .contacts ul li a .contact .message {
  font-size: 13px;
  color: #999;
}

.chat .sidebar .contacts ul li a .notification {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: red;
  font-size: 12px;
  color: white;
  text-align: center;
  line-height: 16px;
  margin-left: auto;
}

.chat .content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat .content .message-header {
  height: 50px;
  min-height: 50px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 15px;
}

.chat .content .message-header .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat .content .message-header .user-info {
  display: flex;
  align-items: center;
}

.chat .content .message-header .user-info .user .name {
  font-size: 14px;
  font-weight: 400px;
  color: #222;
}

.chat .content .message-header .user-info .user .time {
  font-size: 12.5px;
  font-weight: 400px;
  color: #999;
}

.chat .content .message-header .actions ul {
  display: flex;
}

.chat .content .message-header .actions ul li a {
  font-size: 16px;
  color: #999;
  width: 25px;
  display: block;
  text-align: center;
}

.chat .content .message-header .actions ul li a:hover {
  color: #222;
}

.chat .content .message-form {
  border-top: 1px solid #ddd;
  background: #eee;
  padding: 10px 5px;
}
.chat .content .message-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  overflow: auto;
}

.chat .content .message-content .message {
  align-self: flex-start;
  margin-bottom: 20px;
}

.chat .content .message-content::before {
  content: "";
  margin-bottom: auto;
}

.chat .content .message-content .message.me .bubble {
  background: #309af1;
  color: white;
}

.chat .content .message-content .message.me .time {
  text-align: right;
}

.chat .content .message-content .message.me {
  align-self: flex-end;
}
.chat .content .message-content .message .bubble {
  padding: 6px 12px;
  background: #f7f7f7;
  border-radius: 20px;
  font-size: 15px;
  margin-bottom: 5px;
}

.chat .content .message-content .message .time {
  font-size: 12.5px;
  color: #999;
}

.chat .content .message-form ul {
  display: flex;
}
.chat .content .message-form ul li {
  margin: 0 5px;
}

.chat .content .message-form ul li.inputx {
  flex: 1;
}
.chat .content .message-form ul li.inputx input {
  width: 100%;
  box-sizing: border-box;
  height: 36px;
  border: 1px solid #ddd;
  border-radius: 36px;
  font-size: 14px;
  padding: 0 10px;
}

.chat .content .message-form ul li a {
  width: 36px;
  height: 36px;
  display: block;
  border-radius: 50%;
  background: #333;
  color: white;
  text-align: center;
  line-height: 36px;
}
.chat .content .message-form ul li.btn-emoji a {
  background: rgb(40, 132, 238);
}
.chat .content .message-form ul li.btn-mic a {
  background: rgb(248, 142, 43);
}
.chat .content .message-form ul li.btn-img a {
  background: rgb(11, 167, 102);
}
